@font-face {
    font-family: 'Digi';
    src: url('../fonts/Digizen.ttf') format('truetype');
}

.header {
    position:fixed;
    top:0;
    right:0;
    left: 0;
    width: 100%;
    transition: top .5s ease-in-out;
    background-color:  rgb(99, 99, 99);
    z-index:5;
}

.subHeader {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-image:linear-gradient(to bottom, rgb(99, 99, 99),rgb(85, 85, 85), rgb(70, 70, 70));
    color: rgb(223, 223, 223);
    padding: 20px 0 20px 0;
    box-shadow: 0px 2px 6px rgb(44, 44, 44);
    border-bottom: 2px solid rgb(221, 125, 0);
}

.logoutMenu{
    position: absolute;
    top: 0px;
    right: 0;
    background-color:  rgb(211, 120, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 6px rgb(34, 34, 34); 
    transition: all .5s ease-in-out;
    z-index: -2;
}

.show {
    top:82px;
 } 

 .paintingsMenu{
    position: absolute;
    top: -10px;
    background-color:  rgb(211, 120, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 6px rgb(34, 34, 34); 
    transition: all .5s ease-in-out;
    z-index: -2;
}

 .show2 {
    top:82px;
 } 

.subMenuTitles {
    width: 150px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(to bottom,rgb(221, 125, 0), rgb(163, 92, 0));
    border-bottom: 1px solid rgb(126, 71, 0);
    border-top: 1px solid rgb(255, 175, 70);
    color: rgb(236, 236, 236);
    cursor: pointer;
    margin-right: 10px;
}

.header.hide {
    top: -118px;
}

.homeLink {
    width: 50%;
}

.beSmart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
    font-family: 'Digi';
    color: rgb(201, 201, 201);
    margin-left: 20px;
    text-shadow: 0px 2px 2px rgb(0, 0, 0);
    word-spacing: .8rem;
}

.menu {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: transparent;
    color: rgb(223, 223, 223);
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.userName {
    font-size: 1.2rem;
    color: rgb(163, 163, 163);
    font-family: 'times';
    cursor: pointer;
}

.paintings {
    font-size: 1.2rem;
    color: rgb(163, 163, 163);
    font-family: 'times';
    cursor: pointer;
}

.logInOutLink {
    font-size: 1.2rem;
    color: rgb(163, 163, 163);
    font-family: 'times';
}

.headerCartandLikes {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:30%;
}

.shopping_bag {
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bagItems {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
}

.inCart {
    display: flex;
    margin-left: 5px;
    font-size: 1.2rem;
    color:  rgb(163, 163, 163);
}

.shopping_bag img {
    width: 35px;
    height: 30px;
}

.shopping_bag .total_items_in_cart{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-shadow: 0px 1px 2px rgb(0, 0, 0);
    margin-left: 10px;
    width: 30px;
    padding: 5px;
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
}

.viewCart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    margin-top: 9px;
    color:  rgb(163, 163, 163);
}

.likes {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.viewLikes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    color:  rgb(163, 163, 163);
    padding-top: 5px;
}

.heart {
    cursor: pointer;
    color: rgb(163, 163, 163);
}

.wishListIcon {
    width: 30px;
    height: auto;
}

/* -------------- Media Queries -------------- */

@media only screen and (max-width: 1250px) {
.logout {
    justify-content: center;
    margin-right: 0;
}
.show, .show2 {
    top:120px;
 } 
.subHeader {
    flex-direction: column;
    padding: 20px 0 10px 0;
}
.beSmart {
    justify-content: center;
    margin: 0;
    width: 100%;
  }
.homeLink {
    width: 100%;
    margin-bottom: 8px;
}
.menu {
    width: 100%;
  }
.shopping_bag img {
    width: 25px;
    height: 20px;
}
.shopping_bag .total_items_in_cart {
    width: 25px;
    height: 25px;
  }
  }

@media only screen and (max-width: 680px) {
  .beSmart {
    font-size: 1.6rem;
}
  .show, .show2 {
    top:110px;
   } 
}

@media only screen and (max-width: 525px) {
  .beSmart {
    font-size: 1.4rem;
}
  .show, .show2 {
    top:105px;
 } 
}

@media only screen and (max-width: 460px) {
  .inCart {
     display: none;
}
  .wishListIcon {
    width: 20px;
}
  .shopping_bag .total_items_in_cart {
    width: 20px;
    height: 20px;
  }
  .paintings {
    font-size: 1rem;
}
 .beSmart {
    font-size: 1.2rem;
    word-spacing: .4rem;
  }
  .show, .show2 {
    top:90px;
 } 
}

@media only screen and (max-width: 460px) {
 
}

@media only screen and (max-width: 380px) {
  .paintings {
    font-size: .9rem;
   }
   .beSmart {
    font-size: 1.1rem;
    word-spacing: .4rem;
  }
}






